.container_advantages {
  display: flex;
  flex-direction: column;
  gap: 49px;
  height: 1000px;
}

.advantages_head h3 {
  font-size: 28px;
  font-weight: 500;
}

.advantages_wrapper {
  height: 755px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  row-gap: 60px;
}

.advantages_item {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
  background-color: #fff8f5;
  gap: 28px;
}

.advantages_item h2 {
  width: 95%;
}
