.coope_main_wrapper {
  background-color: #fff8f5;
}

.coope_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coope_left_block {
  width: 38%;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.coope_left_block p:first-child {
  font-size: 38px;
  font-weight: 300;
}

.coope_left_block p:first-child b {
  font-weight: 900;
  color: #d14e40;
}
