@media screen and (max-width: 1682px) {
  .main_right_block svg {
    top: -5%;
    width: 120%;
  }
}

@media screen and (max-width: 1490px) {
  .main_right_block svg {
    top: -10%;
    width: 130%;
    left: -5%;
  }
}

@media screen and (max-width: 1200px) {
  .main_right_block {
    right: 28%;
    top: -39px;
  }
}

@media screen and (max-width: 1190px) {
  .main_right_block {
    right: 26%;
  }
}

@media screen and (max-width: 1195px) {
  .main_right_block svg {
    top: 0%;
    width: 171%;
    left: -23%;
  }
}

@media screen and (max-width: 1024px) {
  .main_right_block svg {
    top: -5%;
    width: 162%;
    left: -23%;
  }
}

@media screen and (max-width: 977px) {
  .container.main_wrapper {
    flex-direction: column-reverse;
    height: 500px;
  }
  .main_right_block {
    position: relative;
    right: 0%;
    width: 100%;
    top: -400px;
  }
  .main_right_block svg {
    top: 0;
    width: 96%;
    left: 0;
  }
  .main_left_block {
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main_left_block h1 {
    width: 100%;
    text-align: center;
  }
  .main_left_block p {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .main_left_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .main_left_block h1 {
    text-align: center;
    width: 100%;
  }
  .main_left_block p {
    text-align: center;
    width: 100%;
  }
}
