* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Nunito Sans", sans-serif;
  color: #1a202c;
}

.container {
  width: 80%;
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}
